.main-container{
    width: 75%;
    margin-right:10px;
}

.istyle{
  border-radius: 8px;
  background-color: #121212;
  margin-top:7px;
  margin-right:10px;
  /* padding-top: 15px; */
}

